@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
width: 800px;
font-family: 'Roboto', sans-serif;
color: #fff;
}

.values-row {
  display: flex;
}

.block {
  border: 2px groove rgb(109,141,171);
  padding-left: 10px;
  background-color: rgb(82, 112, 137);
  background: linear-gradient(to top, rgb(82, 112, 137), rgb(123, 149, 182));
  flex-grow: 1;
}

#crew-block {
  background: rgb(146,178,203);
}

.block-title {
 font-size: 33px;

}

.block-label {
  font-size: 11px;
}

.timer {
  font-size: 22px;
}

#status-systems-row {
  display: flex;
}

.status {
  background: linear-gradient(to top, rgb(82, 112, 137), rgb(123, 149, 182));
  width: 800px;
  flex-grow: 1;
}

.left-column-top {
  display: flex;
}

.item-column {
  flex-grow: 1;
}

.timer-parametrs {
  display: flex;
}

.item {

  flex-grow: 1;
}

#schedule-block {
  display: flex;
}
